<header id="header" data-current-skin={{mactrl.currentSkin}}
	data-ng-include src="'partials/template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include
		src="'partials/template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include src="'partials/template/chat.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

	<section id="content" class="page-view">
		<div class="container">
			<div class="block-header">
				<h2>Dashboard</h2>

				<ul class="actions">
					<li><a href=""> <i class="zmdi zmdi-trending-up"></i>
					</a></li>
					<li><a href=""> <i class="zmdi zmdi-check-all"></i>
					</a></li>
					<li class="dropdown" uib-dropdown><a href=""
						uib-dropdown-toggle> <i class="zmdi zmdi-more-vert"></i>
					</a>

						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="">Refresh</a></li>
							<li><a href="">Manage Widgets</a></li>
							<li><a href="">Widgets Settings</a></li>
						</ul></li>
				</ul>

			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="card">
						<div class="card-header bgm-cyan">
							<h2 style="text-align: center;">PRODUCT MANAGEMENT</h2>

							<ul class="actions actions-alt">
								<li class="dropdown" uib-dropdown><a href=""
									uib-dropdown-toggle aria-expanded="false"> <i
										class="zmdi zmdi-more-vert"></i>
								</a>

									<ul class="dropdown-menu dropdown-menu-right">
										<li><a href="">Refresh</a></li>
										<li><a href="">Manage Widgets</a></li>
										<li><a href="">Widgets Settings</a></li>
									</ul></li>
							</ul>
						</div>

						<div class="card-body card-padding" style="text-align: center;">

							<img src="resources/img/home/product.png"
								style="width: 50px; height: 50px"><a href="#/products">Product
								management</a>

						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="card">
						<div class="card-header bgm-purple">
							<h2 style="text-align: center;">REPORT MANAGEMENT</h2>

							<ul class="actions actions-alt">
								<li class="dropdown" uib-dropdown><a href=""
									uib-dropdown-toggle aria-expanded="false"> <i
										class="zmdi zmdi-more-vert"></i>
								</a>

									<ul class="dropdown-menu dropdown-menu-right">
										<li><a href="">Refresh</a></li>
										<li><a href="">Manage Widgets</a></li>
										<li><a href="">Widgets Settings</a></li>
									</ul></li>
							</ul>
						</div>

						<div class="card-body card-padding" style="text-align: center;">

							<img src="resources/img/home/report.png"
								style="width: 50px; height: 50px"><a href="#/worklogs">Report
								management</a>

						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="card">
						<div class="card-header bgm-green">
							<h2 style="text-align: center;">TASK MANAGEMENT</h2>

							<ul class="actions actions-alt">
								<li class="dropdown" uib-dropdown><a href=""
									uib-dropdown-toggle aria-expanded="false"> <i
										class="zmdi zmdi-more-vert"></i>
								</a>

									<ul class="dropdown-menu dropdown-menu-right">
										<li><a href="">Refresh</a></li>
										<li><a href="">Manage Widgets</a></li>
										<li><a href="">Widgets Settings</a></li>
									</ul></li>
							</ul>
						</div>

						<div class="card-body card-padding" style="text-align: center;">

							<img src="resources/img/home/task.png"
								style="width: 50px; height: 50px"><a href="#/tasks">Task
								management</a>

						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

</section>

<footer id="footer" data-ng-include
	src="'partials/template/footer.html'"></footer>

