<div class="modal-header">
	<h4 class="modal-title">Update Company</h4>
</div>
<div class="modal-body">
	<form name="myForm" method="POST" novalidate class="form-horizontal">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group" ng-class="{'has-error' : myForm.companyName.$invalid}">
					<label for="companyName" class="col-sm-3 control-label">Company Name</label>
					<div class="col-sm-9">
						<div class="fg-line">
							<input type="text" class="form-control" id="companyName" ng-model="company.companyName" name="companyName"
								placeholder="Please input companyName...">
						</div>
						<small class="help-block" ng-show="myForm.companyName.$invalid">{{myForm.companyName.$error.message}}</small>
					</div>
				</div>
				
				<div class="form-group" ng-class="{'has-error' : myForm.status.$invalid}">
					<label for="status" class="col-sm-3 control-label">Status</label>
					<div class="col-sm-9">
						<div class="fg-line">
							<input type="text" class="form-control" id="status" ng-model="company.status" name="status"
								placeholder="Please input status...">
						</div>
						<small class="help-block" ng-show="myForm.status.$invalid">{{myForm.status.$error.message}}</small>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button ng-click="updateCompany()" class="btn btn-raised btn-small btn-primary">Update</button>
	<button ng-click="cancel()" class="btn btn-raised btn-default">Cancel</button>
</div>