<div class="information">
	<div class="col-md-12 content-list">
		<div class="col-md-10 col-xs-8">
			<div class="col-md-6 col-sm-12">
				<dl class="dl-horizontal">
					<dt>Id</dt>
					<dd>{{project.id}}</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>Project Code</dt>
					<dd>{{project.projectCode}}</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>Project Name</dt>
					<dd>{{project.projectName}}</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>Department</dt>
					<dd>{{project.department.departmentName}}</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>Status</dt>
					<dd>{{project.status}}</dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="m-t-20 m-b-20 pull-right">
		<div class="col-md-12">
			<a ng-click="editProject()" class="btn btn-icon-text waves-effect btn-primary"><i class="zmdi zmdi-check-square"></i>Update</a>
			<a ng-click="deleteProject()" class="btn btn-icon-text waves-effect btn-danger"><i class="zmdi zmdi-close"></i>Delete</a>
		</div>
	</div>
</div>