<div class="modal-header">
	<h4 class="modal-title">Update Unit</h4>
</div>
<div class="modal-body">
	<form name="myForm" method="POST" novalidate class="form-horizontal">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group" ng-class="{'has-error' : myForm.unitName.$invalid}">
					<label for="unitName" class="col-sm-3 control-label">Unit name</label>
					<div class="col-sm-9">
						<div class="fg-line">
							<input type="text" class="form-control" id="unitName" ng-model="unit.unitName" name="unitName"
								placeholder="Please input unit name...">
						</div>
						<small class="help-block" ng-show="myForm.unitName.$invalid">{{myForm.unitName.$error.message}}</small>
					</div>
				</div>

				<div class="form-group" ng-class="{'has-error' : myForm.description.$invalid}">
					<label for="description" class="col-sm-3 control-label">Description</label>
					<div class="col-sm-9">
						<div class="fg-line">
							<input type="text" class="form-control" id="description" ng-model="unit.description" name="description"
								placeholder="Please input description...">
						</div>
						<small class="help-block" ng-show="myForm.description.$invalid">{{myForm.description.$error.message}}</small>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button ng-click="updateUnit()" class="btn btn-raised btn-small btn-primary">Update</button>
	<button ng-click="cancel()" class="btn btn-raised btn-default">Cancel</button>
</div>